/*Background and responsivity*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 800px) {

    body {
        max-width: 100%;
        background-image: url(https://cdn.pixabay.com/photo/2017/05/15/07/15/pavement-2313860_1280.jpg);
    }

}

body {
    max-width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2017/05/15/07/15/pavement-2313860_1280.jpg);
}

/*Header*/

.flexnav {
    display: flex;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border: solid;

}

.nav-link {
    font-family: 'Spicy Rice', cursive;
    color: black;
    padding: 10px;
}

/*body*/
h1 {

    justify-content: space-around, 200px;
    font-family: 'Spicy Rice', cursive;
    background-color: gray;
    border: solid;
    text-align: center;
    margin-top: 50px;

}

form {
    display: flex;
    margin-left: 625px;
    padding-bottom: 20px;
}

input {
    background-color: white;
    color: black;
    border-radius: 5px;
}

p {
    display: flex;
    justify-content: center;
    font-family: 'Spicy Rice', cursive;
    size: 50px;
    background-color: gray;
    border: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
}

.paragraph {
    padding: 10px;
}

iframe {
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
}

input {
    border-style: solid;
    border-color: black;
}

.opt-container {
    display: flex;
    justify-content: center;

}

.Option {
    background-color: gray;
    border: solid;
    list-style-type: none;
    font-family: 'Spicy Rice', cursive;
    padding: 10px;
    margin: 10px;
}

.btn {
    background-color: white;
    border: solid;
    color: black;
    border-radius: 5px;
}

a {
    color: blue;
}